#include <stdio.h>
int factorial (int n);
int summ (int n);
int main(){
  int n;
  /*Enter the number*/
  printf("Enter the number:\n");
  scanf("%d", &n);
  /*This is the number you have entered*/
  printf("This is the number you have entered: %d\n", n);
  printf("This is the factorial of the number you entered: %d\n", factorial(n));
  printf("This is the sum of the numbers you entered: %d\n", summ(n));
  
}
int factorial (int n){
    if (n==0)
      return 1;
    else
      return n*factorial(n-1);
    }
  
  int summ (int n){
    if (n==1)
      return 1;
    else
      return n+summ(n-1);
  }
